# Тестовые задания Python

1. Особенный номер – строка формата [2-4 цифры]\[2-5 цифр]. Хороший номер - строка формата [4 цифры]\[5 цифр]. Хороший номер можно получить из особенного дополнением нулей слева к обоим числам.<br>
Пример:<br>
17\234 => 0017\00234<br>
Напишите функцию, которая принимает на вход строку и для каждого особенного номера, встречающегося в строке, выводит соответствующий хороший номер.<br>
Ввод:<br>
Адрес 5467\456. Номер 405\549<br>
Вывод:<br>
5467\00456<br>
0405\00549

In [20]:
import re

def print_good_numbers(text):
  special_number_pattern = '(\d{2,4})\\\(\d{2,5})'
  numbers_from_text = re.findall(special_number_pattern, text)
  for number in numbers_from_text:
    left_part = '0' * (4 - len(number[0])) + number[0]
    right_part = '0' * (5 - len(number[1])) + number[1]
    print(f"{left_part}\\{right_part}")

In [22]:
test_string1 = "Адрес 5467\\456. Номер 405\\549"
print_good_numbers(test_string1)

5467\00456
0405\00549

In [23]:
test_string2 = "Номер 17\\234"
print_good_numbers(test_string2)

0017\00234

2. На прямой дороге расположено n+1 банкоматов. Было решено построить ещё k банкоматов для того, чтобы уменьшить расстояние между соседними банкоматами.
На вход подаются натуральные числа n и k, а также n расстояний L, где L_i\ – расстояние между банкоматами i и  i+1. Напишите функцию, которая добавляет k банкоматов таким образом, чтобы максимальное расстояние между соседними банкоматами являлось минимально возможным, и возвращает список новых расстояний между банкоматами.

In [24]:
def can_place_atms(L, k, max_dist):
    atms_to_place = 0
    new_dists = []
    for dist in L:
        if dist <= max_dist:
            new_dists.append(dist)
        else:
            num_new_atms = (dist - 1) // max_dist
            atms_to_place += num_new_atms
            segment_length = dist / (num_new_atms + 1)
            new_dists.extend([segment_length]*(num_new_atms + 1))
    flag = atms_to_place <= k
    return flag, new_dists

def minimize_max_distance(L, k):
    new_L = []
    left, right = 0, max(L)

    while left < right:
        mid = (left + right) // 2
        can_place_flag, new_dists = can_place_atms(L, k, mid)
        if can_place_flag:
            right = mid
            new_L = new_dists
        else:
            left = mid + 1

    return new_L

In [25]:
#n, k = [int(inp) for inp in input().split()]
#L = [int(input()) for i in range(n)]
n = 5
k = 4
L = [100, 180, 50, 45, 150]

print(minimize_max_distance(L, k))

[50.0, 50.0, 60.0, 60.0, 60.0, 50, 45, 75.0, 75.0]

In [26]:
k = 4
L = [100]

print(minimize_max_distance(L, k))

[20.0, 20.0, 20.0, 20.0, 20.0]

3.	Напишите функцию, которая принимает на вход список строк, состоящих из цифр, и возвращает максимальное возможное число, которое может получиться в результате конкатенации всех строк из этого списка.

In [27]:
def get_max_possible_number(str_list):
  max_len = len(max(str_list, key=len))
  max_num = ''.join(sorted(str_list, reverse=True,
                           key=lambda i: i*(max_len * 2 // len(i))))
  max_num = max_num.lstrip('0')
  if max_num == '':
    return '0'

  return max_num

In [28]:
test_list1 = ['11', '234', '005', '87', '8']
print(get_max_possible_number(test_list1))

88723411005

In [29]:
test_list2 = ['0059', '00000510', '0']
print(get_max_possible_number(test_list2))

59000005100